# MongoDB
# MONGO_URI=mongodb://localhost:27017/portfolio
MONGO_URI=mongodb+srv://codewithali001_db_user:pvb9A64DJRHRrvLe@cluster1.lvymipp.mongodb.net/portfolio?retryWrites=true&w=majority

# Server
PORT=5000

# Frontend URL
# CLIENT_ORIGIN=http://localhost:5173
CLIENT_ORIGIN=https://portfolio-beige-kappa-96.vercel.app

# Gmail Config
EMAIL_USER=eedmohammad444@gmail.com
EMAIL_PASS=leispjqgiizkemgz
EMAIL_TO=eedmohammad444@gmail.com

# Environment
NODE_ENV=development


